:root {
  --background: rgb(14, 14, 14);
  --foreground: white;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  font-size: 18px;
  padding: 4em 20px 5em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 750px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 1em;
}

h3 {
  font-size: 1em;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.films {
  display: flex;
  gap: 20px;
  flex-direction: column;

  .plot {
    font-size: 16px;
  }

  .film {
    display: flex;
    gap: 20px;
    text-decoration: none;

    .poster {
      width: 120px;
    }
  }

}

.stars,
.directors {
  a {
    margin-right: 5px;
    &:not(:last-child):after {
      content: ",";
    }
  }
}

.rating {
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  background-color: gray;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;

  &.low {
    background-color: maroon;
  }

  &.mid {
    background-color: orange;
  }

  &.high {
    background-color: green;
  }

}

.poster {
  width: 100%;
  display: block;
}

.filmography,
.category {
  width: 100%;

  h2 {
    margin-bottom: 0.5em;
  }

  &-items {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
  }
  
  &-item {
    width: 200px;
    flex-shrink: 0;
    text-decoration: none;
    .name {
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 5px 0 15px;
    }
  }

}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.bio,
.plot {
  font-style: italic;
}

.film,
.actor,
.director {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;

  &-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.film-head {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.poster-crop {
  background-color: grey;
  height: 0;
  padding-bottom: 148%;
  position: relative;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
